/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height 自分で設定*/
  margin-bottom: 120px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here 自分で設定*/
  height: 180px;
  /*background-color: #f5f5f5;*/
  background-color: #1b1b1b;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  /* max-width: 680px; */
  max-width: 980px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
