doctype html
html(lang="ja")
  head
    meta(charset = "utf-8")
    meta(   property= "og:type"
            content = "product")
    meta(   property= "og:title"
            content = "Image Fourier Transform")
    meta(   property= "og:image"
            content = "https://assets-cdn.github.com/images/modules/open_graph/github-mark.png")
    meta(   property= "og:url"
            content = "https://YusukeHoriuchi.github.io/test.html")
    meta(   property= "og:description"
            content = "画像フーリエ変換")
    include _inc_bootstrap.pug
    include _inc_katex.pug
    title FourierTransforms
    script(  src = "js/dfttest.js"
            type = "text/javascript")
    include _katex.pug
    include _style.pug

  body
    nav.navbar.navbar-inverse
      div.container
        div.navbar-header
          a.navbar-brand FourierTransforms

    div.container
      div.row
        div.col-xs-12.col-sm-12.col-md-12.col-lg-12
          //-- 説明
          div.row
            div.col-xs-12.col-sm-12.col-md-12.col-lg-12
              div.page-header
                h1 Fourier Transforms
              include:pre_katex:markdown-it:post_katex ../doc/dft.md
          //-- 入力
          div.row
            div.col-xs-12.col-sm-12.col-md-12.col-lg-12
              h2 ファイル入力
              div.row
                div.col-xs-12.col-sm-12.col-md-12.col-lg-12
                  div.panel.panel-dafault
                    div.panel-body
                      button.btn.btn-default#inputButton(type = "button") ファイルを選択
          //-- 出力
          div.row
            div.col-xs-12.col-sm-12.col-md-12.col-lg-12
              h2#output
              div#test
              div.row
                div.col-xs-12.col-sm-6.col-md-4.col-lg-4#origin
                div.col-xs-12.col-sm-6.col-md-4.col-lg-4#gray
              div.row
                div.col-xs-12.col-sm-6.col-md-4.col-lg-4#rowRe
                div.col-xs-12.col-sm-6.col-md-4.col-lg-4#rowIm
              div.row
                div.col-xs-12.col-sm-6.col-md-4.col-lg-4#colRe
                div.col-xs-12.col-sm-6.col-md-4.col-lg-4#colIm
              div.row
                div.col-xs-12.col-sm-6.col-md-4.col-lg-4#power
                div.col-xs-12.col-sm-6.col-md-4.col-lg-4#cross
          //-- モーダルウィンドウ
          div.row
            div.col-xs-12.col-sm-12.col-md-12.col-lg-12
              div.modal#wait(   tab-index   = "-1"
                                role        = "dialog"
                                data-backdrop = "static")
                div.modal-dialog(role = "document")
                  div.modal-content
                    div.modal-header
                      //- 左上xボタン
                      button.close#close(type="button")
                        span &times;
                      //- タイトル
                      h4.modal-title.text-center 処理中
                    div.modal-body
                      //- 中身
                      div.text-center#progress
                      button.hidden#closeModal(data-dismiss="modal")
                    div.modal-footer
                      //- キャンセルボタン
                      button.btn.btn-danger#cancel(type="button") cancel
          //-- 非表示エレメント
          div
            button.hidden#showModal(data-toggle="modal"
                                    data-target="#wait")
            input.hidden#input( type="file"
                                accept="image/*")

    footer.footer
      div.container
        p.text-muted.text-center
          | designed by YusukeHoriuchi
          br
          | github :&nbsp;
          a(href="https://github.com/YusukeHoriuchi/") YusukeHoriuchi
          br
          | twitter :&nbsp;
          a(href="https://teitter.com/") yuyu
