doctype html
html(lang="ja")
  head
    meta(charset = "utf-8")
    include _inc_bootstrap.pug
    include _inc_katex.pug
    title FourierTransforms
    script(  src = "js/dfttest.js"
            type = "text/javascript")
    include _katex.pug
    include _style.pug

  body
    nav.navbar.navbar-inverse
      div.container
        div.navbar-header
          a.navbar-brand FourierTransforms

    div.container
      div.row
        div.col-xs-12.col-sm-12.col-md-12.col-lg-12
          //-
          div.row
            div.col-xs-12.col-sm-12.col-md-12.col-lg-12
              div.page-header
                h1 Fourier Transforms
              include:pre_katex:markdown-it:post_katex ../doc/dft.md


          //-- 入力
          div.row
            div.col-xs-12.col-sm-12.col-md-12.col-lg-12
              h2 ファイル入力
              div.row
                div.col-xs-12.col-sm-12.col-md-12.col-lg-12
                  div.panel.panel-dafault
                    div.panel-body
                      button.btn.btn-default#inputButton(type = "button") ファイルを選択
          div.row
            div.col-xs-12.col-sm-12.col-md-12.col-lg-12
              h2 読み込んだファイル
              div.row
                div.col-xs-12.col-sm-12.col-md-12.col-lg-12#outArea
              h2 パワースペクトル画像
              div.row
                div.col-xs-12.col-sm-12.col-md-12.col-lg-12



    footer.footer
      div.container
        p.text-muted.text-center
          | designed by YusukeHoriuchi
          br
          | github :&nbsp;
          a(href="https://github.com/YusukeHoriuchi/") YusukeHoriuchi
          br
          | twitter :&nbsp;
          a(href="https://teitter.com/") yuyu
